html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





html{
    font-family: 'Montserrat', sans-serif;
}
body{
    min-width: 100vw;
    min-height: 100vh;
}
.main-wrapper{
    display: grid;
    grid-template-rows:15vh 1fr;
}
.header{
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 2px #cfcfcf;
    z-index: 2;
    box-sizing: border-box;
    padding: 30px 50px 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h1{
    font-size: 3em;
    font-weight: 900;
}
.header button{
    border:none;
    font-size: 1.3em;
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    font-weight: 700;
    background-color: #fca311;
}
.header button:hover{
    background-color: #ed9607;
}
.header button:active{
    box-shadow: 0px 0px 2px 2px #e5e5e5;
}
.main-content{
    background-color: #e5e5e5;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-book{
    margin: 2em 0 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-book span{
    font-size: 1.5em;
    margin-left: 5px;
}
